<app-dynamic-browse [Loading]="loading" BrowserTitle="ANNOTATIONS.TEMPLATES.BROWSE.TITLE"
                    [BrowserType]="'annotation_form_templates'"
                    (CreateEvent)="openCreateField()" [Checkable]="false"
                    (DeleteItemEvent)="deleteItem($event)" [HiddenDelete]="!authService.havePermission('gui-annotation-field-delete')"
                    (OpenItemEvent)="openItem($event)"
                    (PermissionItemEvent)="permissionItem($event)"
                    [HiddenPermissions]="!authService.havePermission('gui-annotation-field-acl')"
>
</app-dynamic-browse>

<app-template-modal-create #fieldModalCreateRef (createSuccessEvent)="createSuccessEvent()"></app-template-modal-create>

<app-acl-modal #modalAclRef [(isVisible)]="isVisibleAclModal"></app-acl-modal>
