<nz-modal [(nzVisible)]="showModal" (nzOnCancel)="cancelModal()" [nzMaskClosable]="false" [nzTitle]="modalTitle"
          [nzContent]="modalContent" [nzFooter]="modalFooter" nzCentered>
  <ng-template #modalTitle>
    {{'MOLECULAR_DATA.COLLECTIONS.ADD_ITEMS_MODAL.TITLE' | translate}}
  </ng-template>
  <ng-template #modalContent>
    <nz-spin [nzSpinning]="loading">
      <form [formGroup]="formGroup" style="padding: 0px 0px 15px 0px;">
        <div>
          <nz-form-label
            nzFor="name">{{'MOLECULAR_DATA.COLLECTIONS.ADD_ITEMS_MODAL.INPUTS.COLLECTIONS.LABEL' | translate}}</nz-form-label>
          <nz-select formControlName="collections" nzMode="multiple"
                     [nzPlaceHolder]="'MOLECULAR_DATA.COLLECTIONS.ADD_ITEMS_MODAL.INPUTS.COLLECTIONS.LABEL' | translate"
                     style="width: 100%" [ngClass]="{'select-error': getMessageCollectionError()}">
            <nz-option *ngFor="let option of collectionsOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
          <ng-container *ngIf="getMessageCollectionError()">
            <div *ngFor="let item of getMessageCollectionError()" class="message-error-default">{{item | translate}}</div>
          </ng-container>
        </div>
      </form>
    </nz-spin>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" nzDanger
            (click)="cancelModal()">{{'MOLECULAR_DATA.COLLECTIONS.ADD_ITEMS_MODAL.CANCEL_BUTTON' | translate}}</button>
    <button nz-button nzType="primary" [disabled]="!formGroup.valid || loading"
            (click)="clickAcceptButton()">{{'MOLECULAR_DATA.COLLECTIONS.ADD_ITEMS_MODAL.ACCEPT_BUTTON' | translate}}</button>
  </ng-template>
</nz-modal>


