
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > td,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > t::ng-deep d,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > th,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr > th,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > td,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > th,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tbody > tr > td,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > td,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > th
    border-right: 1px solid #cbcbcb !important

::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > td
    &:last-child
        border-right: none !important

::ng-deep .ant-table-thead > tr > th,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr:not(:last-child) > th,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr:not(:last-child) > th,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr:not(:last-child) > th
    border-bottom: none !important

::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > .ant-table-cell-fix-right-first::after,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > .ant-table-cell-fix-right-first::after,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr > .ant-table-cell-fix-right-first::after,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > .ant-table-cell-fix-right-first::after,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > .ant-table-cell-fix-right-first::after,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > .ant-table-cell-fix-right-first::after,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > .ant-table-cell-fix-right-first::after,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > .ant-table-cell-fix-right-first::after
    border-right: none

::ng-deep .ant-table-thead > tr > th
    border-right: none !important

::ng-deep .ant-table-tbody > .ant-table-row:nth-of-type(odd) > .ant-table-cell
    background-color: #ffffff

::ng-deep .ant-table-tbody > .ant-table-row:nth-of-type(even) > .ant-table-cell
    background-color: #f0f0f0

::ng-deep .ant-table-tbody > .ant-table-row:hover > .ant-table-cell
    background-color: #e0e0e0

::ng-deep .ant-table-cell > .ant-list-item-action > li > .ant-list-item-action-split
    background-color: rgba(0,0,0,.25)

::ng-deep .ant-modal-content
    border-radius: 5px

::ng-deep .ant-modal-close-x:hover
    color: #f00

::ng-deep .ant-modal-title
    font-weight: bold
    font-size: 17px

::ng-deep .ant-modal-header
    border-bottom: 1px solid #d8d8d8
    border-top-left-radius: 5px
    border-top-right-radius: 5px

::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr > th,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th,
::ng-deep .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > th
    border-right: none !important

.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tbody > tr > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > .ant-table-cell-fix-right-first::after
    border-right: none !important
