@import "./general.less";


// VARIABLES
@primary-color: #016959;
@primary-text-color: #fff;
@shadeSize: 8px;
// LAYOUT
@layout-header-background: #016959;
@layout-body-background: #f0f2f5;

// TABLE
@table-header-bg: @primary-color;
@table-header-color: #fff;
@table-padding-vertical: 8px;
@table-header-sort-bg: @primary-color;
@table-header-sort-active-bg: @primary-color;
@table-fixed-header-sort-active-bg: @primary-color;

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: #fff;
}

// MENU
@menu-highlight-color: tint(@primary-color, -90%);

.ant-menu-item-selected {
  color: @primary-text-color !important;

  &:hover {
    color: @primary-text-color !important;
  }
}

.theme-primary-background {
  background-color: @primary-color;
  color: @primary-text-color !important;
}

.theme-header-background-color {
  background-color: @layout-header-background;
  color: #fff;
}

.theme-header-background-color-tint-15 {
  background-color: tint(@layout-header-background, 15%);
  color: @primary-text-color !important;
}

.theme-header-background-color-tint-5 {
  background-color: tint(@layout-header-background, 5%);
  color: @primary-text-color !important;
}

.theme-body-background-color {
  background-color: @layout-body-background;
}


// Gutter
.as-split-gutter {
  cursor: col-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.custom-shade-gutter {
  width: 100%;
  height: 100%;
  
  position: relative;
}

.custom-shade-gutter-icon {
  height: 100%;
  width: 100%;
  background-color: @primary-color !important;
  transition: opacity 0.3s;
  opacity: 0;
  position: absolute;

  .dragged &,
  &:hover {
    opacity: 0.1;
  }

  .as-horizontal & {
    width: 1 + (@shadeSize * 2);
    left: -@shadeSize;
    right: @shadeSize;
  }

  .as-vertical & {
    height: 1 + (@shadeSize * 2);
    top: -@shadeSize;
    bottom: @shadeSize;
  }
}


.mat-mdc-tab .mdc-tab__text-label {
  color: fade(@primary-color, 70%) !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: @primary-color !important;
  font-weight: 600;
}

.mat-mdc-tab-indicator .mdc-tab-indicator__content--underline {
  background-color: @primary-color !important;
  height: 3px; // opcional, para cambiar grosor
}
.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: @primary-color;
  --mdc-tab-indicator-active-indicator-color: @primary-color;
  --mdc-theme-primary: @primary-color; // opcional, también afecta texto activo
 
}
html{
   --mat-sys-primary: @primary-color
}
.mat-mdc-tab .mdc-tab:hover .mdc-tab__text-label {
  color: fade(@primary-color, 70%) !important;
}
