<nz-modal [(nzVisible)]="showModal" (nzOnCancel)="cancelModal()" [nzMaskClosable]="false" [nzTitle]="modalTitle"
          [nzContent]="modalContent" [nzFooter]="modalFooter" nzCentered>
  <ng-template #modalTitle>
    {{'STUDY_CASES.ADD_ITEMS_MODAL.TITLE' | translate}}
  </ng-template>
  <ng-template #modalContent>
    <nz-spin [nzSpinning]="loading">
      <form [formGroup]="formGroup" style="padding: 0px 0px 15px 0px;">
        <div>
          <nz-form-label
            nzFor="name">{{'STUDY_CASES.ADD_ITEMS_MODAL.INPUTS.CASE_STUDIES.LABEL' | translate}}</nz-form-label>
          <nz-select formControlName="casesStudies" nzMode="multiple"
                     [nzPlaceHolder]="'STUDY_CASES.ADD_ITEMS_MODAL.INPUTS.CASE_STUDIES.LABEL' | translate"
                     style="width: 100%" [ngClass]="{'select-error': getMessageCaseStudiesError()}">
            <nz-option *ngFor="let option of casesStudiesOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
          <ng-container *ngIf="getMessageCaseStudiesError()">
            <div *ngFor="let item of getMessageCaseStudiesError()" class="message-error-default">{{item | translate}}</div>
          </ng-container>
          <!--          <div *ngIf="showNameError()" class="message-error">{{getMessageNameError()}}</div>-->
        </div>
      </form>
    </nz-spin>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" nzDanger
            (click)="cancelModal()">{{'STUDY_CASES.ADD_ITEMS_MODAL.CANCEL_BUTTON' | translate}}</button>
    <button nz-button nzType="primary" [disabled]="!formGroup.valid || loading"
            (click)="clickAcceptButton()">{{'STUDY_CASES.ADD_ITEMS_MODAL.ACCEPT_BUTTON' | translate}}</button>
  </ng-template>
</nz-modal>

