.toolbar
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  font-size: 18px
  font-weight: 80
  align-items: center
  display: flex
  flex: 0 0 auto
  -moz-column-gap: 5px
  column-gap: 5px
  padding: 8px 18px 5px 18px

.plotly-heatmap-container
  overflow: auto
  height: 100%
  flex: 1 1 auto
  min-width: 0
  padding: 1rem 0 0 0

::ng-deep .ant-tabs-tab
  margin: 0px 16px 0px 0px !important

.tab
  padding-right: 1rem

.option-tab
  padding-left: .7rem
  padding-top: .7rem

.input-container
  margin-bottom: 1rem

::ng-deep .nextgendem-missing-editor-tabset > .ant-tabs-nav
  margin-bottom: 0 !important

::ng-deep .nextgendem-missing-editor-tabset > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list
  padding-left: .7rem !important

.history-item-container
  display: flex
  align-items: center
  column-gap: 10px
  padding: 10px 6px
  border-bottom: 1px solid #dadada

.history-item-undo-icon
  font-size: 20px
  cursor: pointer

::ng-deep .heatmap-container-spin .ant-spin-container
  height: 100%
  display: flex

::ng-deep .heatmap-container-spin .ant-spin-spinning
  height: 100%
  max-height: none !important
