<div style="height: 100%;display: flex;  flex-flow: column;">
  <nz-page-header>
    <nz-page-header-title>
      <app-back-button></app-back-button>
      {{'ANNOTATIONS.TEMPLATES.DETAIL.TITLE' | translate}} - {{displayName}}
    </nz-page-header-title>
  </nz-page-header>

  <div style="padding: 0px 24px 30px 24px;">
    <nz-spin [nzSpinning]="loading">
      <ng-container *ngIf="formGroup">
        <form [formGroup]="formGroup">
          <div class="row-form">

            <!-- Id -->
            <div class="column-input-form">
              <nz-form-label nzFor="id">Id</nz-form-label>
              <input nz-input formControlName="id" type="text" placeholder="Id">
            </div>

            <!-- Name -->
            <div class="column-input-form">
              <nz-form-label
                nzFor="name">{{'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.NAME.LABEL' | translate}}</nz-form-label>
              <input nz-input formControlName="name" type="text"
                     [placeholder]="'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.NAME.PLACEHOLDER' | translate"
                     [disableControl]="isDisableEdit()">
            </div>
          </div>

          <div class="row-form">

            <!-- UNIQUE -->
            <div class="column-input-form">
              <nz-form-label
                nzFor="view_type">{{'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.UNIQUE.LABEL' | translate}}</nz-form-label>
              <div class="false-input-disable">
                <ng-container *ngIf="this.formGroup.get('unique').value">
                  {{ 'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.UNIQUE.OPTIONS.YES' | translate }}
                </ng-container>
                <ng-container *ngIf="!this.formGroup.get('unique').value">
                  {{ 'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.UNIQUE.OPTIONS.NO' | translate }}
                </ng-container>
              </div>
            </div>

            <!-- Standard -->
            <div class="column-input-form">
              <nz-form-label nzFor="standard">{{'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.STANDARD.LABEL' | translate}}</nz-form-label>
              <input nz-input formControlName="standard" type="text"
                     [placeholder]="'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.STANDARD.PLACEHOLDER' | translate"
                     [disableControl]="isDisableEdit()">
            </div>

          </div>

          <!-- Description -->
          <div class="row-form">

            <div class="column-input-form">
              <nz-form-label
                nzFor="description">{{'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.DESCRIPTION.LABEL' | translate}}</nz-form-label>
              <textarea formControlName="description" nz-input
                        [placeholder]="'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.DESCRIPTION.PLACEHOLDER' | translate"
                        [nzAutosize]="{ minRows: 3, maxRows: 5 }" [disableControl]="isDisableEdit()"></textarea>
            </div>

          </div>


          <div class="row-form" style="margin-top: 10px">

            <!-- Fields -->
            <div class="column-input-form">
              <div style="width: 100%; height: 40px; align-items:center; display: flex; line-height: 32px;">
                <div style="flex-grow: 1;">{{'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.FIELD.LABEL' | translate}} :</div>
                <button nz-button nzType="default" nzSize="default" nzShape="round"
                        (click)="openAddModalFields()" *ngIf="!isDisableEdit()">
                  <i nz-icon nzType="plus"></i>{{'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.FIELD.ADD_BUTTON' | translate}}
                </button>
              </div>
              <nz-table #fieldTable [nzData]="formGroup?.get('field_id').value" [nzShowPagination]="true"
                        [nzPageSize]="6" nzBordered>
                <thead>
                <tr>
                  <th nzAlign="center">{{'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.FIELD.TABLE_TH.NAME' | translate}}</th>
                  <ng-container *ngIf="!isDisableEdit()">
                    <th nzAlign="center" nzRight
                        nzWidth="100px">{{'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.FIELD.TABLE_TH.ACTIONS' | translate}}</th>
                  </ng-container>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of fieldTable.data; let i = index">
                  <td nzAlign="center"
                      [ngClass]="{'click-row': true}" (click)="openField(item)">
                    {{ getFieldById(item)?.name }}
                  </td>
                  <td nzAlign="center" nzRight *ngIf="!isDisableEdit()">
                    <ul nz-list-item-actions style="margin-left: 6px;">
                      <nz-list-item-action>
                        <i nz-icon nzType="delete" nzTheme="outline" style="cursor: pointer;"
                           (click)="removeField(i)"></i>
                      </nz-list-item-action>
                    </ul>
                  </td>
                </tr>
                </tbody>
              </nz-table>
            </div>

            <!-- Object types -->
            <div class="column-input-form">
              <div style="width: 100%; height: 40px; align-items:center; display: flex; line-height: 32px;">
                <div style="flex-grow: 1;">{{'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.OBJECT_TYPES.LABEL' | translate}}:
                </div>
                <button nz-button nzType="default" nzSize="default" nzShape="round"
                        (click)="openAddModalObjectTypes()" *ngIf="!isDisableEdit()">
                  <i nz-icon
                     nzType="plus"></i>{{'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.OBJECT_TYPES.ADD_BUTTON' | translate}}
                </button>
              </div>
              <nz-table #objectTypesTable [nzData]="formGroup?.get('object_types').value" [nzShowPagination]="true"
                        [nzPageSize]="6" nzBordered>
                <thead>
                <tr>
                  <th
                    nzAlign="center">{{'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.OBJECT_TYPES.TABLE_TH.NAME' | translate}}</th>
                  <ng-container *ngIf="!isDisableEdit()">
                    <th nzAlign="center" nzRight
                        nzWidth="100px">{{'ANNOTATIONS.TEMPLATES.DETAIL.INPUTS.OBJECT_TYPES.TABLE_TH.ACTIONS' | translate}}</th>
                  </ng-container>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of objectTypesTable.data; let i = index">
                  <td nzAlign="center">
                    {{ getObjectTypeById(item)?.name }}
                  </td>
                  <td nzAlign="center" nzRight *ngIf="!isDisableEdit()">
                    <ul nz-list-item-actions style="margin-left: 6px;">
                      <nz-list-item-action>
                        <i nz-icon nzType="delete" nzTheme="outline" style="cursor: pointer;"
                           (click)="removeObjectType(i)"></i>
                      </nz-list-item-action>
                    </ul>
                  </td>
                </tr>
                </tbody>
              </nz-table>
            </div>

          </div>

        </form>
      </ng-container>

      <div style="display: flex; flex-direction: row-reverse; align-items: flex-end">
        <button nz-button nzType="primary" nzShape="round" style="margin-top: 20px;" (click)="modifyItem()"
                [disabled]="!formGroupChange">
          {{'ANNOTATIONS.TEMPLATES.DETAIL.MODIFY_BUTTON' | translate}}
        </button>
        <button nz-button nzType="primary" nzShape="round" nzDanger
                style="margin-top: 20px; margin-right: 12px;" (click)="cancelModifyItem()"
                [disabled]="!formGroupChange">
          {{'ANNOTATIONS.TEMPLATES.DETAIL.CANCEL_BUTTON' | translate}}
        </button>
      </div>

    </nz-spin>
  </div>
</div>


<!-- Modal Add Field -->
<nz-modal [(nzVisible)]="addFieldVisibleModal" nzCentered
          [nzTitle]="'ANNOTATIONS.TEMPLATES.DETAIL.MODAL_ADD_FIELD.TITLE' | translate"
          (nzOnCancel)="addFieldVisibleModal = false;" [nzMaskClosable]="false">
  <div *nzModalContent>
    <div style="padding-bottom: 3px;">{{'ANNOTATIONS.TEMPLATES.DETAIL.MODAL_ADD_FIELD.INPUTS.FIELD.LABEL' | translate}}
      :
    </div>
    <nz-select [nzPlaceHolder]="'ANNOTATIONS.TEMPLATES.DETAIL.MODAL_ADD_FIELD.INPUTS.FIELD.PLACEHOLDER' | translate"
               nzMode="multiple" nzAllowClear [nzDisabled]="loading" nzShowSearch
               style="width: 100%;" [(ngModel)]="selectModal" [nzMaxTagCount]="3">
      <nz-option [nzValue]="item.id" [nzLabel]="item.name" *ngFor="let item of getAddFieldsOptions()"></nz-option>
    </nz-select>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" nzDanger
            (click)="addFieldVisibleModal = false;">{{'ANNOTATIONS.TEMPLATES.DETAIL.MODAL_ADD_FIELD.CANCEL_BUTTON' | translate}}</button>
    <button nz-button nzType="primary"
            (click)="addFieldModal()">{{'ANNOTATIONS.TEMPLATES.DETAIL.MODAL_ADD_FIELD.ADD_BUTTON' | translate}}</button>
  </div>
</nz-modal>


<!-- Modal Add Object Types -->
<nz-modal [(nzVisible)]="addObjectTypesVisibleModal" nzCentered
          [nzTitle]="'ANNOTATIONS.TEMPLATES.DETAIL.MODAL_ADD_OBJECT_TYPES.TITLE' | translate"
          (nzOnCancel)="addObjectTypesVisibleModal = false;" [nzMaskClosable]="false">
  <div *nzModalContent>
    <div
      style="padding-bottom: 3px;">{{'ANNOTATIONS.TEMPLATES.DETAIL.MODAL_ADD_OBJECT_TYPES.INPUTS.OBJECT_TYPES.LABEL' | translate}}
      :
    </div>
    <nz-select
      [nzPlaceHolder]="'ANNOTATIONS.TEMPLATES.DETAIL.MODAL_ADD_OBJECT_TYPES.INPUTS.OBJECT_TYPES.PLACEHOLDER' | translate"
      nzMode="multiple" nzAllowClear [nzDisabled]="loading" nzShowSearch
      style="width: 100%;" [(ngModel)]="selectModal" [nzMaxTagCount]="3">
      <nz-option [nzValue]="item.id" [nzLabel]="item.name" *ngFor="let item of getAddObjectTypesOptions()"></nz-option>
    </nz-select>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" nzDanger
            (click)="addObjectTypesVisibleModal = false;">{{'ANNOTATIONS.TEMPLATES.DETAIL.MODAL_ADD_OBJECT_TYPES.CANCEL_BUTTON' | translate}}</button>
    <button nz-button nzType="primary"
            (click)="addObjectTypesModal()">{{'ANNOTATIONS.TEMPLATES.DETAIL.MODAL_ADD_OBJECT_TYPES.ADD_BUTTON' | translate}}</button>
  </div>
</nz-modal>
