<div style="height: 100%; display: flex; flex-direction: column">
  <nz-page-header>
    <nz-page-header-title>
      <app-back-button></app-back-button>
      NGD Barcoding
    </nz-page-header-title>
  </nz-page-header>
  <div style="padding: 0px 24px 0px 24px; flex: 1 1 auto; min-height: 0 ">
    <nz-spin style="height: 100%" class="spin-barcoding" [nzSpinning]="loading">
      <app-ngd-barcoding [data]="data" *ngIf="data" [hiddenTitle]="true" [alnUrl]="alnUrl"></app-ngd-barcoding>
    </nz-spin>
  </div>
</div>
