.ngd-barcoding-toolbar
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  font-size: 18px
  font-weight: 80
  align-items: center
  display: flex
  flex: 0 0 auto
  column-gap: 5px
  padding: 5px 18px 5px 18px

.ngd-barcoding-content
  flex: 1 1 auto
  min-height: 0
  background-color: #ffffff
  border: 1px solid #c4c4c4
  border-top: none
  padding: 5px 5px 0px 5px
  overflow: auto

.ngd-barcoding-body-top-border
  border-top: 1px solid #c4c4c4 !important


.data-table
  //border: 1px solid #c4c4c4
  border-bottom: none

.data-table-th
  //background-color: #e0e0e0
  //color: #000000

//::ng-deep .data-table-tbody > .data-table-tbody-tr:nth-of-type(4n - 1) > .ant-table-cell
  background-color: #f0f0f0 !important

//::ng-deep .data-table-tbody > .data-table-tbody-tr:nth-of-type(4n - 3) > .ant-table-cell
  background-color: #ffffff !important

.data-table-header-tr .data-table-th:not(:first-child)
  //border-left: 1px solid #cbcbcb !important

//.data-table-tbody-tr td
  border-left: 1px solid #cbcbcb !important

//.data-table-tbody-tr td:last-child
  border-right: 1px solid #cbcbcb !important

::ng-deep .data-table-tbody-tr-expanded > .ant-table-cell
  padding: 0

::ng-deep .expandable-table nz-spin .ant-spin-container .ant-table
  margin: 0 !important

//::ng-deep .expandable-table-tbody > .expandable-table-tbody-tr:nth-of-type(2n) > .ant-table-cell
  background-color: #f0f0f0 !important

//::ng-deep .expandable-table-tbody > .expandable-table-tbody-tr:nth-of-type(2n - 1) > .ant-table-cell
  background-color: #ffffff !important

//::ng-deep .expandable-table-tbody > .pures-expandable-table-tbody-tr:nth-of-type(2n) > .ant-table-cell
  background-color: #f0f0f0 !important
  width: 100%

//::ng-deep .expandable-table-tbody > .pures-expandable-table-tbody-tr:nth-of-type(2n - 1) > .ant-table-cell
  background-color: #ffffff !important
  width: 100%
::ng-deep td
  background-color: #ffffff !important

::ng-deep .ngd-barcoding-tabset > .ant-tabs-nav
  margin: 0 !important

::ng-deep .ngd-barcoding-tabset > .ant-tabs-content-holder
  padding: 1rem .3rem
