.range-formly-filter-style
  margin-bottom: 24px

.range-formly-filter-labelStyle
  padding-bottom: 8px

.range-formly-filter-inputsStyle
  display: flex
  column-gap: 1rem
  .ant-input-number
    flex: 1 1 auto
    min-width: 0
