.nextgendem-geolayer-configuration-panel-container
  height: 100%
  display: flex
  flex-direction: column
  padding: 10px

.nextgendem-geolayer-configuration-panel-attribute
  display: flex
  align-items: center

.nextgendem-geolayer-configuration-panel-attribute-box-shadow
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px

.nextgendem-geolayer-configuration-panel-attribute.cdk-drag-preview > .nextgendem-geolayer-configuration-panel-attribute-name
  cursor: grabbing !important
  pointer-events: auto !important

.nextgendem-geolayer-configuration-panel-attribute-name
  cursor: grab
  pointer-events: auto !important
