.row-form
  display: flex
  flex-wrap: wrap
  column-gap: 20px
  row-gap: 10px

.column-input-form
  min-width: min(360px, 100%)
  flex: 1 1 0px

.click-row
  cursor: pointer

.false-input-disable
  color: rgba(0, 0, 0, 0.25)
  background-color: #f5f5f5
  border: 1px solid #d9d9d9
  padding: 4px 11px 4px 11px
